

/* its Define official colors as CSS variables */
:root {
  --primary-color: #007bff; /* Official primary color */
  --secondary-color: #6c757d; /* Official secondary color */
  --text-color: #333; /* Text color */
  --subtext-color: #555; /* Subtext color */
  --background-color: #f9f9f9; /* Background color */
}

/* Container for job listings */
.job-listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

/* Individual job listing card */
.job-card {
  width: 30%;
  border: 1px solid var(--primary-color); 
  padding: 20px;
  margin: 10px;
  background-color: var(--background-color); 
  border-radius: 5px;
}

/* Job title */
.job-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--secondary-color); 
}


.company-name,
.job-location,
.salary,
.posted-date,
.application-deadline {
  font-size: 16px;
  color: var(--subtext-color); 
}

/* Job description */
.job-description {
  font-size: 16px;
  color: var(--text-color); 
}

/*  popup CSS file */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  text-align: center;
}
